@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    background: white;
    top:0;
    height: 66px;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
}
nav{
    font-size: 12px;
    padding-top: 12px;
}
.left img{
    height: 36px;
    width: 53px;
}
.container{
   padding: 0 10vw;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.section1{
    background-color: #f2f2f2;
   
}
.search{
    width: 34vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}
.homeImg{
    width: 80vw;
    margin: 12px 0;
}
.itemImg{
    width: 10vw;
    margin: 6px 12px;
  }
  
  footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
  
  .tall{
    min-height: 40vh;
  }
  
  @media (max-width: 450px) { 
  .search {
      width: 72vw; 
  }
  }
  
 